<div>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdatePerson(updateForm.value, personDetail.id)" role="form">
        <h3>Person Details
            <span class="close" (click)="closeDetail()">X</span>
        </h3>
        <h4> {{ personDetail.firstName | uppercase }} {{ personDetail.lastName | uppercase }}
            <span *ngIf="!personDetail.firstName">&nbsp;</span>
        </h4>
        <div class="form-group">
            <label>First Name:
        <span *ngIf="!detailFormEdit">{{personDetail.firstName}}</span>
        <input [(ngModel)]="personDetail.firstName" *ngIf="detailFormEdit" type="text" class="form-control" id="firstName" formControlName="firstName">
      </label>
        </div>
        <div class="form-group">
            <label>Last Name:
        <span *ngIf="!detailFormEdit">{{personDetail.lastName}}</span>
        <input [(ngModel)]="personDetail.lastName" *ngIf="detailFormEdit" type="text" class="form-control" id="lastName" formControlName="lastName">
      </label>
        </div>
        <div class="form-group">
            <label>Email:
        <span *ngIf="!detailFormEdit">{{personDetail.email}}</span>
        <input [(ngModel)]="personDetail.email" *ngIf="detailFormEdit" class="form-control" id="email" formControlName="email">
      </label>
        </div>
        <button type="button" class="btn btn-primary" *ngIf="!detailFormEdit" (click)="detailFormEdit=!detailFormEdit">Edit</button>
        <button type="submit" class="btn btn-primary" *ngIf="!isCreateState && detailFormEdit" [disabled]="updateForm.invalid">Update</button>
        <button type="button" class="btn btn-danger" *ngIf="!isCreateState" (click)="onDeletePerson(personDetail.id)">Detele</button>
        <button type="submit" class="btn btn-primary" *ngIf="isCreateState" [disabled]="updateForm.invalid">Create</button>
    </form>
</div>