<div class="col-sm-4 col-xs-12 inner">
  {{currentUser.email}}
  <button type="button" class="btn btn-info header" (click)="logOut()">
    Logout
  </button>
  <h3>People</h3>
  <table class="table table-hover" *ngIf="people">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people" [class.selected]="person === selectedPerson" (click)="onSelect(person)" class="pointCursor">
        <td>{{person.firstName}} </td>
        <td>{{person.lastName}} </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-sm-8 col-xs-12 inner innerSide" *ngIf="selectedPerson">
  <app-people-detail [person]="selectedPerson"
  (personChanged)="childChangedPerson($event)"></app-people-detail>
</div>