/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

#base{
    background: url('assets/images/bgBaranec.jpg') top no-repeat;
}

body, #base{
    background-size: cover;
    background-attachment: local;
    background-color: darkgoldenrod;
}

h3, h4{
    text-align: center;
}

.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle{
    display: table-cell;
    vertical-align: middle;
}

.inner{
    background-size: 100%;
    background-color: rgba(51, 91, 150, 0.80);
    color: white;
    box-shadow: 10px 10px 5px rgba(6, 1, 1, 0.43);
}

.innerSide{
    background-color:rgba(49, 51, 56, 0.80);
}

.table-hover>tbody>tr:hover {
    background-color:rgba(49, 51, 56, 0.70);
}

.pointCursor{
    cursor: pointer;
}

#notice{
    margin-top: 20px;
    text-align: center;
    opacity: 0.9;
    font-size: 18px;
}

.success{
    background-color: green;
}

.error{
    background-color: red;
}

.warning{
    background-color: #ff6200ab;
}

.header{
    float: right;
    top: 10px;
    left: 10px;
}