@import '~bootstrap/dist/css/bootstrap.min.css';
#base {
    background: url('assets/images/2.jpg') top no-repeat;
}

body,
#base {
    background-size: cover;
    background-attachment: local;
}

h3,
h4 {
    text-align: center;
}

h3 span.close {
    color: white;
    position: absolute;
    margin-right: 30px;
    padding: 5px 8px;
    right: 5px;
    cursor: pointer;
    border-style: solid;
    border-color: transparent;
    opacity: 0.6;
}

h3 span.close:focus,
span.close:hover {
    border: white;
    border-style: solid;
    border-radius: 50%;
    padding: 5px 9px;
    color: white;
    opacity: 0.8;
}

h3 {
    font-family: monospace;
    font-weight: bolder;
    color: #b7b660c4;
}

h4 {
    opacity: 0.4;
    color: antiquewhite;
    padding: 18px;
    background-color: #34758a;
}

.form-control {
    /* background-color: #110b0b; */
    opacity: 0.6;
    border-color: #bebebed9;
    border-color: lightskyblue;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 28px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    background-size: 100%;
    margin: 0;
}

.innerSide {
    background-color: rgba(51, 91, 150, 0.80);
    color: white;
    box-shadow: 10px 10px 5px rgba(6, 1, 1, 0.43);
    padding: 25px;
}

.innerSideleft {
    height: 600px;
    overflow: auto;
    background-size: 100%;
    background-color: #42537ecc;
}

.panelMenu {
    background-color: #475362ba;
    color: white;
    padding: 10px 25px 10px 30px;
}

button.btn.btn-warn.header {
    background-color: #9b9e6380;
    height: 26px;
    line-height: 10px;
    color: ghostwhite;
}

.btn {
    opacity: 0.9;
}

.userName {
    font-family: monospace;
    font-size: smaller;
}

.table-hover>tbody>tr:hover {
    background-color: #3d5cab6e;
}

.pointCursor {
    cursor: pointer;
}

.marginedFromTop {
    margin-top: 10%;
    background: linear-gradient(#8f8f5e4a, #020202ab, #674b4b85);
    border-radius: 10%;
    min-height: 770px;
}


/* if middle or inner div change, this should restyle */

@media (max-width: 991px) {
    .marginedFromTop {
        min-height: 1230px;
    }
}

#notice {
    /* margin-top: 20px; */
    text-align: center;
    opacity: 0.6;
    font-size: 18px;
    font-weight: bolder;
    color: lightyellow;
    box-shadow: 10px 10px 5px rgba(6, 1, 1, 0.43);
}

#notice span {
    overflow-wrap: break-word;
}

#notice.success {
    background-color: green;
}

#notice.error {
    background-color: red;
}

#notice.warn {
    background-color: #ff6200ab;
}

#notice.neutral {
    background-color: none;
}

.header {
    float: right;
    top: 10px;
    left: 10px;
}

.highlighted {
    background-color: #327b8dcc;
}

label {
    line-height: 28px;
}

.form-group label span {
    padding-left: 12px;
    display: block;
}